<!-- header section -->


	<div class="container-fluid">
		<header-area></header-area>
	   <!-- <div class="pull-right">
                <account-login></account-login>
		</div>-->
	</div>

<!-- main body -->
	<div class="main-body" >
        <router-outlet></router-outlet>
   </div>

<div>
	<div class="infiniteScroll" style="background: #061d31; font-family: Arial;height:50px;" ><span class="whiteTxt"  >GoRightPrice.</span>
		<span class="toolTitle scrollToTop" data-reactid="164" (click)="scrolltoTop()">Scroll To Top</span><span></span>
		<!--<span class="toolTitle" data-reactid="166"><a href="/info/aboutUs" title="Nextag - About Us" data-reactid="167">About Us</a></span>-->
		<span class="toolTitle" ><a href="/info/termsOfUse" title="Nextag -Terms of Use" >Terms of Use</a></span>
	<span class="toolTitle" ><a href="/info/privacyPolicy" title="Nextag -Privacy Policy" >
		<span data-reactid="174">Privacy Policy <span style="color:#ffffff">(New)</span></span></a></span><span >|</span>
		<span class="whiteTxt nxtCopyright" >© 2017 ,www.gorightprice.com</span>
	<!-- </div> -->
	 </div>
		
	</div>

	