.prdct-dtl__img-wrpr{
    height: 350px;
    line-height: 350px;
    padding: 0 15px;
    margin: 40px 0 15px 15px;
    text-align: center;
    cursor: zoom-in;
}

.prdct-dtl__img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.prdct-dtl__thmbnl-wrpr{
    position: absolute;
    width: 430px;
    margin-top:2px;
    text-align: center;
}
.prdct-dtl__thmbnl{
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 55px;
    height: 55px;
    padding: 5px;
    border: 1px solid #dfe1e8;
    margin-left: 5px;
    line-height: 40px;
    vertical-align: middle;
    cursor: pointer;

}
.prdct-dtl__thmbnl-img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
section{
    height:100%;
    width:100%;
}